@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* styles/globals.css hoặc module CSS */
.text-inter {
  font-family: var(--font-inter);
}

.text-roboto {
  font-family: var(--font-roboto);
}

.text-lora {
  font-family: var(--font-lora);
}

.text-open-sans {
  font-family: var(--font-open-sans);
}

.text-poppins {
  font-family: var(--font-poppins);
}
.font-tenshokk{
  font-family: "hot-tenshokk";
}

